### Windows OS ###

# File and directory metadata
[Dd]esktop.ini*
Thumbs.db*

# Crash dump
*.stackdump*



### Mac OS ###

# File and directory metadata
._*
.AppleDouble*
.DS_Store*
.fseventsd*
.Spotlight-V100*
.VolumeIcon.icns*

# Icon must be followed by \r only (not \r\n)
Icon

# File backups
.com.apple.timemachine.donotpresent*
.DocumentRevisions-V100*
.TemporaryItems*
.Trashes*



### Linux OS ###

# File and directory metadata
.directory*

# File backups
*.*~
.fuse_hidden*
.nfs*
.Trash-*



### Git ###

*.diff*
*.orig*
*.patch*
*.rej*
